input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-number input[type=number] {
    -moz-appearance: textfield;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    display: inline-block;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    text-align: center;
    border: none;
    font-size: 1.2rem;
    outline: none;
}

.input-number {
    position: relative;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-number div {
    display: inline-block;
    width: 50px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}

.input-number div:hover {
    background-color: rgba(255, 255, 255, .25);
}

.minus {
    border-radius: 20px 0 0 20px;
    padding-right: 10px;
}

.plus {
    border-radius: 0 20px 20px 0;
    padding-left: 25px;
}

.disabled div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: auto;
}