.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(16, 16, 16, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    animation: fade-in 100ms linear;
    transition: 0.5s;
}

.settings-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    max-height: 600px;
    background: rgba(32, 32, 32, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(16, 16, 16, 0.5);
}

.settings-header {
    margin: 0;
    font-size: 0.8em;
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #303030;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.settings-footer {
    font-size: 0.9em;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-top: 1px solid #303030;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.settings-block .green-btn {
    width: 100px;
    margin-left: 20px;
}

.settings-block .red-btn {
    width: 100px;
}

.settings-body {
    font-size: 0.48em;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.setting span {
    padding-right: 25px;
    text-align: left;
}

.setting-disabled {
    opacity: 0.6;
}