.nav {
    will-change: transform;
    transform: translateX(-300px);
    z-index: 5;
    top: 0;
    position: fixed;
    height: 100%;
    width: 300px;
    background: #151515;
    transition: all 0.3s;
}

.nav-header {
    margin: 30px;
    font-size: 2em;
    color: white;
    text-align: center;
}

.nav-list {
    color: white;
    text-align: left;
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 20px 30px;
    height: 25px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item:hover {
    background: #353535;
    cursor: pointer;
}

.nav-item a {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-icon {
    height: 100%;
}

.nav-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
}

.nav-footer-header {
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}

.contacts-wrapper {
    height: 30px;
    margin: 25px 20px 35px;
    display: flex;
    justify-content: space-around;
}

.contacts-wrapper > a {
    width: 30px;
    -moz-transform-origin: 15px 15px;
}

.contacts-wrapper a:hover {
    cursor: pointer;
    animation: spin 700ms ease-in;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}