textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    min-height: 4em;
    font-size: 0.5em;
    font-family: "Segoe UI", serif;
    background: none;
    border: none;
    color: white;
    outline: none;
}

.textarea-wrap {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #454545;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.save {
    height: 2em;
    color: white;
    font-size: 0.5em;
    background: none;
    border: none;
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding: 5px 0;
    outline: none;
    animation: fade-in .5s linear;
}

.save:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}