body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: #262626;
    font-family: "Segoe UI", serif;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.wrap {
    animation: fade-in 1s linear;
    font-size: 2em;
    text-align: center;
    color: white;
    margin: 20px 2%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr minmax(300px, 1fr) 1fr;
    grid-template-rows: auto 445px;
    grid-template-areas:
            ". logo ."
            "left main thoughts";
}

@media screen and (max-width: 768px) {
    .wrap {
        margin: 15px 0;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr minmax(90%, 1fr) 1fr;
        grid-template-areas:
                ". logo ."
                ". main ."
                ". thoughts ."
                ". left .";
    }
}

@media screen and (max-width: 425px) {
    .wrap {
        margin: 15px 0;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr minmax(85%, 1fr) 1fr;
        grid-template-areas:
                ". logo ."
                ". main ."
                ". thoughts ."
                ". left .";
    }
}

@media screen and (max-width: 320px) {
    .wrap {
        grid-gap: 10px;
        grid-template-rows: repeat(4, auto);
    }
}

.main {
    align-self: start;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
                "task"
                "controls"
                "pomodor";
    grid-area: main;
    grid-gap: 20px;
}

.logo {
    align-self: center;
    fill: white;
    stroke: white;
    width: 100%;
    grid-area: logo;
}

.task {
    grid-area: task;
}

.task > input {
    font-size: 0.8em;
    font-family: "Segoe UI", serif;
    text-align: center;
    color: white;
    width: calc(100% - 46px);
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #757575;
    background: none;
    outline: none;
}

.task > #task-name-text {
    font-size: 0.8em;
    outline: none;
    width: calc(100% - 40px);
    margin: auto 10px;
    text-decoration: none;
}

.task > label {
    display: block;
    font-size: 0.6em;
    color: #757575;
}

.buttons {
    grid-area: controls;
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
}

.start, .stop, .reset {
    color: white;
    font-size: 0.5em;
    width: 25%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    transition: all 0.4s;
}

.start {
    background: #28a745;
    border: 1px solid #007E33;
}

.start:hover {
    background: #007E33;
    cursor: pointer;
}

.start:active {
    background: #003e1e;
    border: 1px solid #003117;
    cursor: pointer;
}

.start:disabled {
    opacity: 0.7;
    cursor: auto;
}

.start:disabled:hover {
    background: #28a745;
    border: 1px solid #007E33;
}

.stop {
    background: #dc3545;
    border: 1px solid #b02d3d;
}

.stop:hover {
    cursor: pointer;
    background: #b02d3d;
}

.stop:active {
    cursor: pointer;
    background: #721d28;
    border: 1px solid #4a131a;
}

.stop:disabled {
    opacity: 0.7;
    cursor: auto;
}

.stop:disabled:hover {
    background: #dc3545;
    border: 1px solid #b02d3d;
}

.reset {
    background: #20c997;
    border: 1px solid #147d5d;
}

.reset:hover {
    background: #147d5d;
    cursor: pointer;
}

.reset:active {
    background: #0d533e;
    border: 1px solid #083527;
    cursor: pointer;
}

.tomato {
    margin: auto;
    width: 65%;
    grid-area: pomodor;
    position: relative;
}

.timer {
    font-size: 5vw;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -10%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .timer {
        font-size: 15vw;
    }
}

@media screen and (max-width: 425px) {
    .timer {
        font-size: 1.5em;
    }
}

.tomatoes-left {
    grid-area: left;
    overflow-y: auto;
    padding: 0 10px;
}

.thoughts {
    grid-area: thoughts;
    overflow-y: auto;
    padding: 0 10px;
}

.adding-note {
    box-sizing: border-box;
    font-size: 0.5em;
    width: auto;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #454545;
}

.adding-note:hover {
    background: #454545;
    cursor: pointer;
}

textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    min-height: 4em;
    font-size: 0.5em;
    font-family: "Segoe UI", serif;
    background: none;
    border: none;
    color: white;
    outline: none;
}

.textarea-wrap {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #454545;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.save {
    height: 2em;
    color: white;
    font-size: 0.5em;
    background: none;
    border: none;
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding: 5px 0;
    outline: none;
    animation: fade-in .5s linear;
}

.save:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.dots {
    height: 12px;
    background: none;
    border: none;
    padding: 0;
    align-self: flex-end;
    outline: none;
    position: relative;
    display: inline-block;
}

.dots:hover {
    cursor: pointer;
}

.note-li {
    display: flex;
    flex-direction: column;
}

.st0 {
    stroke-miterlimit: 10;
    stroke: white;
    fill: white;
    stroke-dasharray: 550;
    opacity: 10;
    animation: animate 2s cubic-bezier(.42,0,.58,1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 550;
    }

    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 550;
    }

    90% {
        fill: rgba(255, 255, 255, 0);
    }

    100% {
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    8% {
        transform:rotate(40deg);
    }
    24% {
        transform:rotate(-40deg);
    }
    40% {
        transform:rotate(20deg);
    }
    56% {
        transform:rotate(-20deg);
    }
    72% {
        transform:rotate(10deg);
    }
    88% {
        transform:rotate(-10deg);
    }
    100% {
        transform:rotate(0deg);
    }
}

.tomato-spin {
    animation: spin 700ms ease-in;
}

.card-header {
    display: block;
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 10px;
    background: #303030;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list {
    text-align: left;
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list > li {
    word-wrap: break-word;
    border-bottom: 1px solid #454545;
    padding: 20px;
}

.list > li:last-child {
    border-bottom: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #303030;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #505050;
}

.dots .pop {
    visibility: hidden;
    width: 60px;
    background-color: #151515;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 999;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    box-shadow: 0 0 10px #050505;
}

.dots .show-pop {
    visibility: visible;
    animation: fade-in .5s;
}

.dots .pop::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color: #151515 transparent transparent transparent;
}

.menu-item {
    padding: 3px 0;
}

.menu-item:hover {
    color: #707070;
}